.toDoHelperContainer{
  padding: 10px;
  display: none;
  width: 100%;
  background-color: #1b1f2b;
}

.toDoHelperContainerActive{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.helperButtonsContainer{
  display: flex;
  gap: 20px;
}

.helperButton{
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  color: white;
  background-color: transparent;
  font-size: 25px;
  transition: border-color 0.2s ease-in-out;
  cursor: pointer;
}

.helperButtonActive{
  border: 2px solid dodgerblue;
}

.helperCounterContainer{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.helperCounterText{
  font-size: 25px;
  color: white;
}

.helperClearButton{
  visibility: hidden;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.helperClearButtonActive{
  visibility: visible;
}

@media (hover: hover) {
  .helperButton:hover{
    border-color: rgba(dodgerblue, 0.5);
  }
  .helperButtonActive{
    border-color: dodgerblue;
  }
  .helperClearButton:hover{
    background-color: dodgerblue;
  }
}

@media (hover: none) {
  .helperButton:active{
    border-color: rgba(dodgerblue, 0.5);
  }
  .helperButtonActive:active{
    border-color: dodgerblue;
  }
  .helperClearButton:active{
    background-color: dodgerblue;
  }
}

@media screen and (max-width: 425px){
  .toDoListWrapper{
    padding: 0 5px;
  }
  .helperCounterText{
    font-size: 20px;
  }
  .toDoHelperContainerActive{
    flex-direction: column;
    gap: 10px;
  }
  .helperButton{
    font-size: 20px;
  }
  .helperClearButton{
    font-size: 20px;
  }
}