.toDoListContainer{
  display: flex;
  flex-direction: column;
}

.toDoContainer{
  display: flex;
  padding: 10px 0;
  background-color: #1b1f2b;
  align-items: center;
  border-bottom: 1px solid dodgerblue;
}

.toDoCompleteButton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  color: dodgerblue;
}

.toDo{
  flex: 1;
  padding: 0 10px;
  color: white;
  font-size: 20px;
  word-break: break-all;
}

.completeToDo{
  text-decoration: line-through;
  color: rgba(white, 0.3);
}

.toDoDeleteButton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  color: red;
}
