.toDoListWrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.toDoListContainer{
  display: flex;
  border-radius: 10px;
  border: 2px dodgerblue solid;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  box-shadow: 0 0 20px 1px dodgerblue;
}

@media screen and (max-width: 425px){
  .toDoListWrapper{
    padding: 0 5px;
  }
}